<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>org.modeshape.web.jcr.ModeShapeJcrDeployer</listener-class>
    </listener>
    <!-- Servlets -->
    <servlet>
        <servlet-name>jcrServlet</servlet-name>
        <servlet-class>org.modeshape.web.server.JcrServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitialServlet</servlet-name>
        <servlet-class>org.modeshape.web.InitialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackupExportServlet</servlet-name>
        <servlet-class>org.modeshape.web.BackupExportServlet</servlet-class>
    </servlet>
    
    <filter> 
        <filter-name>ConnectFilter</filter-name>
        <filter-class>org.modeshape.web.AuthFilter</filter-class>
    </filter>
    
    <servlet-mapping>
        <servlet-name>jcrServlet</servlet-name>
        <url-pattern>/console/jcr</url-pattern>
    </servlet-mapping>
    <!-- Default page to serve -->
    <servlet-mapping>
        <servlet-name>InitialServlet</servlet-name>
        <url-pattern>/tree/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackupExportServlet</servlet-name>
        <url-pattern>/console/backup/*</url-pattern>
    </servlet-mapping>
    
    <!--
        The ModeShape Web-Explorer implementation allowes the HTTP credentials to for 
        authentication and authorization within the JCR repository. 
        This should generally not be modified.
    -->    
    <filter-mapping>
        <filter-name>ConnectFilter</filter-name>
        <servlet-name>jcrServlet</servlet-name>        
    </filter-mapping>
    
    <welcome-file-list>
        <welcome-file>Console.html</welcome-file>
    </welcome-file-list>
    
    <!--
        This section is used to define the access privileges to a collection of 
        resources using their URL mapping.
    
        By default the entire web application  requires authentication
    -->    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Web-Explorer</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <!--
            A user must be assigned this role to connect to this web application, 
            in addition to needing the READONLY, READWRITE or ADMIN roles to 
            actually connect to the repository, read or modify the data.
            This is not used internally, so another role could be substituted here.
        -->        
        <auth-constraint>
            <role-name>connect</role-name>
        </auth-constraint>
    </security-constraint>  
      
    <!--
        BASIC is only allowed method.
    -->
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

    <!--
       This must match the role-name in the auth-constraint above.
    -->
    <security-role>
        <role-name>connect</role-name>
    </security-role>
</web-app>
