
# /
/.metadata
/target

/dna-common/.settings
/dna-common/target

/dna-graph/.settings
/dna-graph/target

/dna-cnd/.settings
/dna-cnd/target

/dna-integration-tests/.settings
/dna-integration-tests/target

/dna-search/.settings
/dna-search/target

/dna-jcr/.settings
/dna-jcr/target

/dna-jcr-tck/.settings
/dna-jcr-tck/target

/dna-repository/.settings
/dna-repository/target

/docs/target
/docs/examples/gettingstarted/repositories/target
/docs/examples/gettingstarted/sequencers/target
/docs/gettingstarted/target
/docs/presentations/*.key
/docs/reference/target

/extensions/dna-web-jcr-rest/target/
/extensions/dna-web-jcr-rest-war/target/

/web/dna-web-jcr-rest/target/
/web/dna-web-jcr-rest-war/target/
/web/dna-web-jcr-rest-client/target/

/extensions/dna-classloader-maven/target
/extensions/dna-common-jdbc/target
/extensions/dna-connector-federation/target
/extensions/dna-connector-filesystem/target
/extensions/dna-connector-inmemory/target
/extensions/dna-connector-jbosscache/target
/extensions/dna-connector-infinispan/target
/extensions/dna-connector-jdbc-metadata/target
/extensions/dna-connector-store-jpa/target
/extensions/dna-connector-svn/target
/extensions/dna-mimetype-detector-aperture/.settings
/extensions/dna-mimetype-detector-aperture/target
/extensions/dna-sequencer-cnd/target
/extensions/dna-sequencer-esbMessage/target
/extensions/dna-sequencer-images/target
/extensions/dna-sequencer-java/target
/extensions/dna-sequencer-jbpm-jpdl/target
/extensions/dna-sequencer-mp3/target
/extensions/dna-sequencer-msoffice/target
/extensions/dna-sequencer-xml/target
/extensions/dna-sequencer-zip/target
