# ignore Maven generated target folders
target

# ignore eclipse files and folders
.project
.classpath
.settings
.metadata
.scala_dependencies
.externalToolBuilders
/.metadata
/RemoteSystemsTempFiles

# ignore overlay folders
overlays

# ignore IDEA files
*.iml
*.ipr
*.iws
.idea
atlassian-ide-plugin.xml

# log files
*.log

# Object files
ObjectStore

# Compiled python files
*.pyc

# REST client module bin folder
/tools/org.modeshape.eclipse.jcr.rest.client/bin

# Presentation Keynote files
/docs/presentations/*.key

# ignore OS X (Mac) files
.DS_Store
