<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2010, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.modeshape.extractor.tika">
    <resources>
        <resource-root path="modeshape-extractor-tika-${project.version}.jar" />
        <!--All the following are specific to Tika 1.1. Should the tika version change, those need to change as well-->
        <resource-root path="apache-mime4j-core-0.7.jar" />
        <resource-root path="apache-mime4j-dom-0.7.jar" />
        <resource-root path="bcmail-jdk15-1.45.jar" />
        <resource-root path="bcprov-jdk15-1.45.jar" />
        <resource-root path="commons-codec-1.5.jar" />
        <resource-root path="commons-logging-1.1.1.jar" />
        <resource-root path="dom4j-1.6.1.jar" />
        <resource-root path="fontbox-1.6.0.jar" />
        <resource-root path="geronimo-stax-api_1.0_spec-1.0.1.jar" />
        <resource-root path="isoparser-1.0-beta-5.jar" />
        <resource-root path="javassist-${javaassist.version}.jar" />
        <resource-root path="jempbox-1.6.0.jar" />
        <resource-root path="pdfbox-1.6.0.jar" />
        <resource-root path="poi-${poi.version}.jar" />
        <resource-root path="poi-ooxml-3.8-beta5.jar" />
        <resource-root path="poi-ooxml-schemas-3.8-beta5.jar" />
        <resource-root path="poi-scratchpad-${poi.version}.jar" />
        <resource-root path="scannotation-1.0.2.jar" />
        <resource-root path="tagsoup-1.2.1.jar" />
        <resource-root path="tika-core-${tika.version}.jar" />
        <resource-root path="tika-parsers-${tika.version}.jar" />
        <resource-root path="vorbis-java-core-0.1.jar" />
        <resource-root path="vorbis-java-core-0.1-tests.jar" />
        <resource-root path="vorbis-java-tika-0.1.jar" />
        <resource-root path="xmlbeans-2.3.0.jar" />
    </resources>

    <dependencies>
        <module name="org.modeshape.jcr.api"/>
        <module name="org.modeshape.common"/>
    </dependencies>
</module>