@CHARSET "UTF-8";

body {
  font-family: Verdana, arial, sans-serif;
  color: black;
  font-size: 12px;
}

h1 {
  font-size: 24px;
  line-height: normal;
  font-weight: bold;
  background-color: #f0f0f0;
  color: #003366;
   border-bottom: 1px solid #3c78b5;
  padding: 2px;
  margin: 4px 0px 4px 0px;
}

h2 {
  font-size: 18px;
  line-height: normal;
  font-weight: bold;
  background-color: #f0f0f0;
   border-bottom: 1px solid #3c78b5;
  padding: 2px;
  margin: 4px 0px 4px 0px;
}

h3 {
  font-size: 14px;
  line-height: normal;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 2px;
  margin: 4px 0px 4px 0px;
}

h4 {
  font-size: 12px;
  line-height: normal;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 2px;
  margin: 4px 0px 4px 0px;
}

HR {
  color: 3c78b5;
  height: 1;
}

th  {
    border: 1px solid #ccc;
    padding: 2px 4px 2px 4px;
    background: #f0f0f0;
    text-align: center;
}

td  {
    border: 1px solid #ccc;
    padding: 3px 4px 3px 4px;
}
