<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~ ModeShape (http://www.modeshape.org)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<module xmlns="urn:jboss:module:1.3" name="org.modeshape.persistence.relational">
    <resources>
        <resource-root path="modeshape-persistence-relational-${project.version}.jar" />
        <resource-root path="HikariCP-${version.com.zaxxer.HikariCP}.jar" />
    </resources>

    <dependencies>
        <module name="javax.api" export="true"/>
        <module name="org.modeshape.schematic" export="true"/>
        <module name="org.modeshape.common" export="true"/>
        <!-- For logging ... -->
        <module name="org.slf4j"/>
        <module name="org.slf4j.impl"/>
        <module name="org.jboss.logging"/>
        <!--
         Add optional dependencies on drivers which may be installed in the server later on
         Note that H2 is normally available by default
        -->
        <module name="com.h2database.h2" optional="true"/>
        <module name="com.mysql.jdbc" optional="true"/>
        <module name="org.postgresql" optional="true"/>
        <module name="oracle.jdbc" optional="true"/>
    </dependencies>
</module>