<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="modeshape.sequencer.teiid">
    <resources>
        <resource-root path="modeshape-sequencer-teiid-${project.version}.jar" />
        <!-- Insert resources here -->
    </resources>


    <dependencies>
        <module name="org.modeshape" />
    </dependencies>
</module>