/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.workspace-panel {
    border-bottom: 1px solid #d3d3d3
}

.footer {
    border-top: 1px solid #d3d3d3
}

.header-label {
    font:  bold 120% serif;
    color : cornflowerblue;
}

.workspace-label {
    font:  bold 120% serif;
    color : orange;
}

.tab-label {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;    
}

.segment {
    color: #4194e1;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer; 
}

.segment-separator {
    color: #b3b3b3;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.viewport {
    background-color: #f9edbe;
    border : 1px solid #f0c36d;
    border-radius: 5px 5px 5px 5px;
}

.grid-bg {
    background-color: #eeeeee;
    border-radius: 3px 3px 3px 3px;        
    border: 1px solid #eeeeee    
}

.grid-panel {
    border-radius: 2px 2px 2px 2px;        
    border: 1px solid #b7c7cf;
    background-color: #ffffff    
}

.grid-border {
    border-style: ridge;
    border : 2px solid #d3d3d3
}
.grid {
    border : 1px solid #eeeeee;
    border-style: ridge;
    background-color: #f8f8f8;
}

.node-name {
    color: blue;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    cursor: pointer;    
}

.white-ref {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    cursor: pointer;    
}

.caption {
    font-size: 14px;
    cursor: pointer;    
    color: #737373
}

.caption-selected {
    font-size: 14px;
    color: #737373;
    cursor: pointer;    
    font-weight: bold;
    text-decoration:underline
}

.text {
    font-size: 13px;
}

.repository {
    border-bottom: 1px solid #d3d3d3;
}

.repository-name {
    color: blue;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;    
}

.repository-caption {
    color: navy;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;    
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}


.admin-control {
    margin-top: 10px;
    border-bottom: 1px solid #d3d3d3;
}

.button-label {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;    
}

.button-label-disable {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;    
}

.longtext {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
}

.longtext:after {
    content: "...";
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}

.session-hint {
    border-top: 1px solid #f0c36d;
}

.page-index {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer; 
}

.page-index-selected {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer; 
}


