<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2010, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.search-engine" slot="4.1">
    <resources>
        <resource-root path="hibernate-search-engine-${version.hibernate.search}.jar" />
        <resource-root path="hibernate-search-infinispan-${version.hibernate.search}.jar" />
        <resource-root path="infinispan-lucene-directory-${version.org.infinispan}.jar" />
        <resource-root path="avro-${version.hibernate.search.avro}.jar" />
        <resource-root path="jackson-mapper-asl-${version.org.codehaus.jackson}.jar" />
        <resource-root path="jackson-core-asl-${version.org.codehaus.jackson}.jar" />
        <resource-root path="paranamer-${version.hibernate.search.paranamer}.jar" />
        <resource-root path="snappy-java-${version.hibernate.search.snappy}.jar" />
    </resources>
    <dependencies>
        <module name="javax.transaction.api"/>
        <module name="org.hibernate.commons-annotations"/>
        <module name="org.apache.lucene" export="true" slot="3.5"/>
        <module name="org.jboss.logging" />
        <module name="org.jgroups" />
        <module name="org.infinispan" />
        <!-- For naming (used by Hibernate Search Infinispan)... -->
        <module name="javax.api"/>
        <module name="org.jboss.as.naming"/>
    </dependencies>
</module>
