<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.modeshape.jdbc">
    <resources>
        <resource-root path="modeshape-jdbc-local-${project.version}.jar" />
        <!-- Insert resources here -->
    </resources>


    <dependencies>
        <module name="org.modeshape" />
    </dependencies>
</module>