<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<!-- Define the IResource object contribution actions to all popup menus -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.jboss.dna.eclipse.jcr.rest.client.iresourcepopupmenucontribution"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="org.jboss.dna.eclipse.jcr.rest.client.contextMenu"
               label="%contextMenu.label"
               path="additions">
            <separator
                  name="dna">
            </separator>
         </menu>
         
         <!-- Show Published Locations action -->
         <action
               id="org.jboss.dna.eclipse.jcr.rest.client.showPublishedLocationsAction"
               label="%showPublishedLocationsAction.label"
               class="org.jboss.dna.eclipse.jcr.rest.client.actions.ShowPublishedLocationsAction"
               icon="icons/views/blank.gif"
               menubarPath="org.jboss.dna.eclipse.jcr.rest.client.contextMenu/group1"
               enablesFor="1">
               <enablement>
                   <and>
                      <objectClass name="org.eclipse.core.resources.IFile" />
                      <objectState name="persistentProperty" value="org.jboss.dna.eclipse.jcr.rest.client.publishedIn" />
                   </and>
               </enablement>
         </action>
        
         <!-- Unpublish action -->
         <action
               id="org.jboss.dna.eclipse.jcr.rest.client.unpublishAction"
               label="%unpublishAction.label"
               class="org.jboss.dna.eclipse.jcr.rest.client.actions.UnpublishAction"
               icon="icons/views/unpublish.png"
               menubarPath="org.jboss.dna.eclipse.jcr.rest.client.contextMenu/group1"
               enablesFor="*">
               <enablement>
                     <or>
                         <objectClass name="org.eclipse.core.resources.IFile" />
                         <objectClass name="org.eclipse.core.resources.IFolder" />
                         <and>
                               <objectClass name="org.eclipse.core.resources.IProject" />
                               <objectState name="open" value="true" />
                         </and>
                     </or>
               </enablement>
         </action>
         
         <!-- Publish action -->
         <action
               id="org.jboss.dna.eclipse.jcr.rest.client.publishAction"
               label="%publishAction.label"
               class="org.jboss.dna.eclipse.jcr.rest.client.actions.PublishAction"
               icon="icons/views/publish.png"
               menubarPath="org.jboss.dna.eclipse.jcr.rest.client.contextMenu/group1"
               enablesFor="*">
               <enablement>
                     <or>
                         <objectClass name="org.eclipse.core.resources.IFile" />
                         <objectClass name="org.eclipse.core.resources.IFolder" />
                         <and>
                               <objectClass name="org.eclipse.core.resources.IProject" />
                               <objectState name="open" value="true" />
                         </and>
                     </or>
               </enablement>
         </action>
      </objectContribution>
   </extension>

<!-- View extensions -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jboss.dna"
            name="%dnaCategory">
      </category>
      
      <!-- Repository view -->
      <view
            id="serverView"
            name="%serverView"
            category="org.jboss.dna"
            class="org.jboss.dna.eclipse.jcr.rest.client.views.ServerView"
            fastViewWidthRatio="0.25"
            icon="icons/objects/server.gif">
      </view>
   </extension>

<!-- Server view decorator -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_LEFT"
            adaptable="true"
            label="%decorator.label"
            state="true"
            class="org.jboss.dna.eclipse.jcr.rest.client.views.DnaContentProvider"
            id="org.jboss.dna.eclipse.jcr.rest.client.dnaDecorator">
         <description>
            %decorator.description
         </description>
         <enablement>
         <or>
            <objectClass
                  name="org.jboss.dna.web.jcr.rest.client.domain.IDnaObject">
            </objectClass>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </or>
         </enablement>
      </decorator>
   </extension>

<!-- Context Help -->
   <extension point="org.eclipse.help.contexts">
      <contexts file="docs/helpContexts.xml"  />
   </extension>
    
<!-- Help Table of Contents -->
   <extension point="org.eclipse.help.toc">
      <toc file="docs/toc.xml" primary="true" />
   </extension>

<!-- Preference Page -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%dnaCategory"
            class="org.jboss.dna.eclipse.jcr.rest.client.preferences.DnaPreferencePage"
            id="dnaPreferencePage">
      </page>
   </extension>
</plugin>
