<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~ ModeShape (http://www.modeshape.org)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<module xmlns="urn:jboss:module:1.2" name="org.modeshape.sequencer.java">
    <resources>
        <resource-root path="modeshape-sequencer-java-${project.version}.jar" />
        <resource-root path="javassist-${javaassist.version}.jar" />
        <resource-root path="common-${eclipse.equinox.common.version}.jar" />
        <resource-root path="core-${eclipse.jdt.core.version}.jar" />
        <resource-root path="resources-${eclipse.core.resources.version}.jar" />
        <resource-root path="expressions-${eclipse.core.expressions.version}.jar" />
        <resource-root path="runtime-${eclipse.core.runtime.version}.jar" />
        <resource-root path="osgi-${eclipse.osgi.version}.jar" />
        <resource-root path="jobs-${eclipse.core.jobs.version}.jar" />
        <resource-root path="registry-${eclipse.equinox.registry.version}.jar" />
        <resource-root path="preferences-${eclipse.equinox.preferences.version}.jar" />
        <resource-root path="contenttype-${eclipse.core.contenttype.version}.jar" />
    </resources>

    <dependencies>
        <module name="org.modeshape.jcr.api"/>
        <module name="org.modeshape.common"/>
    </dependencies>
</module>